
span.icon i.quest-71000 {
    background:url('/icons/071001.png');
    content: '';
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
}
span.icon i.quest-71140 {
    background:url('/icons/071141.png');
    content: '';
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
}
span.icon i.quest-71120 {
    background:url('/icons/071121.png');
    content: '';
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
}
span.icon i.dungeon {
    background:url('/icons/061801.png');
    content: '';
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    display: block;
}
span.icon i.trial {
    background:url('/icons/061804.png');
    content: '';
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    display: block;
}
span.icon i.raid {
    background:url('/icons/061802.png');
    content: '';
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    display: block;
}
span.icon i.solo-duty {
    background:url('/icons/071006.png');
    content: '';
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    display: block;
}
span.icon i.quest-novice {
    background:url('/icons/071121.png');
    content: '';
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    display: block;
}

.unlocks {
    padding-left: 1rem;
}



.quest-name {
    font-weight: 550;
}
.quest-steps {
    padding-left: 2em;
}