i.xivicon.xiv071000 {
    background:url('/icons/071001.png');
    content: '';
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
}
i.xivicon.xiv071120 {
    background:url('/icons/071121.png');
    content: '';
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
}
